
spring:
  thymeleaf:
    mode: HTML5
  profiles:
   active: dev
  http:
    encoding:
      force: true
      charset: UTF-8
      enabled: true
server:
  tomcat:
    uri-encoding: UTF-8

img:
  local:
    path: D:\\upload


qiniu:
  accessKey: hIWocWUVAp1YWGYzNbbXZht0S8Qj_JFfAY-sA7Zj
  secretKey: -6XzWcuDQ301oRd1mE0WmwGQpC0UkN6TxM-g8mgQ
  bucket: imghost